<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAUTH</title>
    <style>
      button {
        border: red solid 1px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Hello My People</h1>
    <button>
      <a href="/auth/google"> Sign in with google </a>
    </button>
  </body>
</html>
